name: CI

on: [push]

jobs:
  build_and_test:
    runs-on: windows-latest
    name: build and test Library
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - name: .Net-SetUp
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '8.0.x' # latest Net8.0
    - name: Build
      run: |
        dotnet build Lib.sln --configuration Release
    - name: Test
      run: |
        dotnet test Lib.sln --configuration Release